.body {
  font-family: 'Quicksand', sans-serif;
  color: #2d3c49;
  width: 100%;
  height: 100%;
  vertical-align: center;
}

.logo__code {
  float: left;
}

.header__titles__list {
  float: right;
  text-align: right;
  list-style: none outside;
  margin-top: auto;
}

.separator {
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #7d97ad inset;
}

#separator1 {
  clear: both;
}

.header__title {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.header__subtitle {
  font-size: 1.5em;
}

.hero__image {
  padding-top: 2em;
  width: 100%;
}

.featured__title,
.aboutme__title,
.contactme__title {
  color: #7d97ad;
  font-size: 26px;
}

.featured__container,
.aboutme__container,
.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer__container {
  width: 40%;
}

.featured__item,
.aboutme__item {
  box-sizing: content-box;
  list-style: none outside;
  margin-left: -40px;
  text-align: justify;
}

.featured__heading,
.aboutme__heading {
  text-transform: uppercase;
  font-size: 26px;
}

.featured__image,
.aboutme__image {
  width: 100%;
}

.fas {
  color: #02b3e4;
}

.fab {
  color: #2d3c49;
}

.social__media {
  list-style: none outside;
  padding: 0 -40px;
  margin: 0 -40px;
}

.social__media:hover {
    opacity: 0.7;
}

/* Make site responsive to Google Nexus 5 (360px width) and slightly bigger screens */
@media screen and (max-width: 767px) {
  .body {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Make site responsive to iPad */
@media screen and (min-width: 768px) and (max-width:849px) {
  .body {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Make site responsive to bigger screens */
@media screen and (min-width: 850px) {
  .body {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .featured__container,
  .aboutme__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .featured__description,
  .aboutme__description {
    text-align: justify;
  }

  .box__item1, .box__item2, .box__item3,
  .aboutme__box1, .aboutme__box2, .aboutme__box3 {
    width: 29%;
  }

  .box__item1,
  .aboutme__box1 {
    order: -1;
  }

  .box__item2,
  .aboutme__box2 {
    order: 1;
  }

  .box__item3,
  .aboutme__box3 {
    order: 3;
  }
}
