.body {
  font-family: 'Quicksand', sans-serif;
}

.header__title {
  font-family: 'Lobster', cursive;
}

.hero__image {
  width: 80%;
}

.featured__item {
  box-sizing: content-box;
  list-style: none outside;
  list-style-position: inside;
  padding: 0px 0px;
}

.featured__image {
  width: 50%;
}
